/journal
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
test-reports/
*.iml
.classpath_nb
.idea/
.idea_modules/
*.sacf
src/main/resources/local.conf
src/main/resources/vendor
**/journal/
**/snapshots/
.history
.DS_Store
*.project
*.settings
*.classpath
*~
*.swp
